header {
    background-color: rgb(183, 228, 199);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header div {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    color: rgb(74, 144, 226);
}

nav {
    margin: 15px 0 25px 0;
}

nav ul {
    display: flex;
    gap: 15px;
}

nav ul li {
    list-style: none;
}

.boton {
    font-weight: bold;
    background-color: rgb(127, 195, 160);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 150px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(74, 144, 226);
}

p {
    font-size: 17px;
    color: rgb(74, 144, 226);
    font-weight: bold;
}

.gmail-link {
    color: rgb(0, 102, 204);
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.gmail-link:hover {
    color: rgb(85, 142, 106);
}

.about-container {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-tarjeta {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-tarjetas {
    margin: auto;
    width: 95%;
    height: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 23%);
    padding-top: 40px;
    margin-bottom: 40px;
    gap: 35px;
}

.tarjeta-info {
    width: 350px;
    height: 250px;
    border: 2px solid rgb(74, 144, 226);
    ;
    border-radius: 10px;
    text-align: center;
    padding: 0 15px;
}

.tarjeta-info h3 {
    margin: 16px 0;
    font-size: 20px;
}

.tarjeta-info a {
    color: rgb(85, 142, 106);
    text-decoration: none;
}

main {
    margin-bottom: 180px;
}

footer {
    background-color: rgb(183, 228, 199);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
}

footer div {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-container {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form .input {
    width: 90%;
    border: 1px solid rgb(127, 195, 160);
    outline: 0;
    height: 25px;
    font-size: 18px;
    padding: 8px;
}

.form .textarea {
    resize: none;
    height: 200px;
}

.form .boton {
    margin-top: 35px;
}

.mensaje-contenedor {
    margin-top: 25px;
    color: rgb(74, 144, 226);
}

.form .select {
    height: 45px;
}

.form label {
    font-size: 18px;
    color: rgb(127, 195, 160);
    font-weight: bold;
}

.oculto {
    display: none;
}

.libro-info-container {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.libro-info-container article {
    display: flex;
    width: 90%;
    justify-content: center;
}

.libro-info-container article div {
    width: 600px;
    padding: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.libro-info-container article div h3 {
    margin-bottom: 10px;
    color: rgb(127, 195, 160);
}

.error-container {
    color: red;
    font-size: 32px;
    text-align: center;
    margin-top: 5%;
}

.container-opciones-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.mensaje {
    position: fixed;
    width: 250px;
    height: 110px;
    top: 50%;
    left: 50%;
    margin-top: -55px;
    margin-left: -125px;
    outline: 0;
    border: 0;
    padding: 25px;
    background-color: #0066CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    border-radius: 15px;
}

.mensaje label {
    cursor: pointer;
    background-color: white;
    color: #0066CC;
    padding: 3px;
    border-radius: 2px;
}

.mensaje:has(:checked) {
    display: none;
}

#cerrar-mensaje {
    display: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}